/*every page */


 #white{
	background-color: lightgrey;
	height: 109px;
	width: 100%;
 	 
 	 }

#bryant{ 
		float: left;
		font-family:Georgia;
		background-color: #4aaaa5;
		padding: 30px;
		font-size: 50px;
		margin-left: 60px;
		color: lightgrey;
		width:25%;
}
	
	.list{
		float: right;
		margin-right: 80px;
		margin-top:40px;
		
	}
	.links{ 
			font-size: 20px;
			padding: 10px;
			text-decoration: none;
			color:#4aaaa5;
			
		}
	li{
		display: inline;
	}
	
body{ 
	background-image: url("../../assests/images/spirationdark.png");
	}

		.sec{
			background: lightgrey;
			float: left;
			margin-top: 20px;
			margin-left:60px;
			width:1000px;
			}
	

				h1{
					color:#4aaaa5;
					font-size: 50px; 
					width:50%;
					padding: 20px;
				}
				hr{ 
					background-color: lightgrey;
					height: 5px;
					width: 900px;			
				}


		aside{
			background-color: lightgrey;
			width: 360px;
			height: 220px;
			float: right;
			margin-top: 20px;
			margin-right: 60px;
			color: #4aaaa5;
		}
			
				h2{
					font-size: 20px;
					padding: 10px;
				}

				#hr2{
					background: lightgrey;
					height: 5px;
					width: 250px;


				}

				.contact{
					padding: 10px;
					height: 90px;
					width: 90px;
				}
				
				footer{ 
					float: left;
					margin-top: 10px;
					width: 100%;
					background-color:#666666;
					height: 50px;
					padding-top: 10px;
					text-align: center;
					color: #4aaaa5;
					border-top: 30px solid #4aaaa5;
				}
				

/*page 1 index */

			#me{
				max-width:30%;
				height: auto;
				float: left;
				margin-left: 20px;
				

			}

			#para{
				font-size: 20px;
				margin: 10px;
			
			}				


/* page 2 contact*/

			.words{
				color:#4aaaa5;
				margin-left:20px;
				}
			
			.form{
				width: 90%;
   				margin-left: 20px;
				}

			#message{
				width: 90%;
				margin-left: 20px;
				height: 265px;
			}

			button{
				margin-top:20px;
				margin-left: 450px;
				background-color: #4aaaa5;
    			color: white;
    			padding: 15px 32px;
    			text-align: center;
    			font-size: 16px;
    			}


 /*Portfolio Page 3*/
			
				#dunes{

				float: left;
				margin-left: 50px;
				margin-bottom: 10px;
				max-width: 400px;
				min-width: 400px;
				height:auto;
				}
			.dunes{
				position: absolute;
				top:450px;
				width:400px;
				height: 30px; 
				background-color: #4aaaa5;
				font-family: serif;
				font-size: 26px;
				border-bottom: 10px solid grey;
				border-top: 10px solid grey;
				}

			#miata{
				float: right;
				margin-top:40px;
				margin-right: 50px;
				max-width: 400px;
				height: auto;

			}
			.miata{
				position: absolute;
				top:450px;
				width: 400px;
				height:30px;
				background-color: #4aaaa5;
				font-family: serif;
				font-size: 26px;
				border-bottom: 10px solid grey;
				border-top: 10px solid grey;
				text-align: center;
			}
			#gf{
				float: right;
				margin-right: 50px;
				margin-top: 10px;
				max-width: 400px;
				height: auto;

			}
			.gf{
				position: absolute;
				bottom:10px;
				width:400px;
				height: 30px; 
				background-color: #4aaaa5;
				font-family: serif;
				font-size: 26px;
				border-bottom: 10px solid grey;
				border-top: 10px solid grey;
				text-align: center;
				
			}
			#dawson{
				float: left;
				margin-left: 100px;
				max-width: 300px;
				height:auto;
			
			}
			.dawson{
				position: absolute;
				bottom: 10px;
				width:300px;
				height: 30px;
				background-color: #4aaaa5;
				font-family: serif;
				font-size: 26px;
				border-bottom: 10px solid grey;
				border-top: 10px solid grey;
			}

/* 10/28 Media Queries */


/* page at 640px */
@media screen and (max-width:640px){
  	#white{
  		position: relative;
  		width:0px;
  	}
  	header{
  		position: relative;
  		width:630px;
  		right:120px;
		

  	}
  	.links{
  		position: relative;
  		left:-20px;
  		top:-5px;
  		background: grey;
  		padding-left:70px;
  		padding-right: 70px;
  	}
  
  	section{
		position: relative;
		left:60px;
		width:80%;
		height: 100%;		
	}
		
	aside{
		position: relative;
		top:10px;
		left:60px;
		width:80%;
	}

	footer{
		position: relative;
		top:10px;
	}	

		h1{
			position: relative;
			left:10px;
			font-size: 44px;
		}

		hr{
			width: 90%;
		}
		#hr2{
			width: 90%
		}
		
		/*bout pg */
		
		#me{
			width: 90%;
			margin-left: 375px;
			height:400px;
		}
		
		#para{
			position: relative;
			left:20px;
			top:10px;
			width:90%;
		}

		/* contact*/

		.words{
			position: relative;
			left:0px;
			}
		.form{
			width:90%;
		}

		#message{
		width:90%;
		}
		/* portfolio pg */
		

		#dunes{
			position: relative;
			left:0px;
		}

		#miata{
			position: relative;
			left:0px;
			top:-20px;

		}
		#gf{
			position: relative;
			left:0px;
			top:-20px;
		}
		
		#dawson{
			position: relative;
			left:0px;
			top:-20px;

		}
		h3{
			position: relative;
			right:-77px;
			width: 350px;
		}

}

@media screen and (max-width:768px) and (min-width:640px){
/* page at 768px*/
	#white{
		height: 106px;
	}
	header{
		margin-left: 35px;
		width:45%;
		font-size: 40px;
	}
	.links{
		position: relative;
		left:240px;
		top:-70px;
	}
	section{
		width:90%;
		position: relative;
		left:37px;
		bottom:30px;
	}
	aside{
		position: relative;
		left:37px;
		top:0px;
		width:90%;
		}

	h1{
		position: relative;
		right:30px;
	}

	hr{
		width:90%;
	}
	h2{
		font-size: 20px;
	}
	#hr2{
		width: 90%;
	}
/*about pg*/

		
	#para{
		position: relative;
		left:30px;
		
	}
	#me{
		width:250px;
		height: 250px;
		float:right;
		margin: 0px 0px 0px 0px
	}
	
	/*contact page*/
	.words{
		position: relative;
		right:240px;
	}

	.form{
		width:80%;
	}

	#message{
		width:80%;

	}
	/* portfolio*/

	img{
		width:300px;
		height:250px;

	}
	#dunes{
		position: absolute;
		left:30px;
	}

	#miata{
		position: absolute;
		left:320px;
		

	}
	#gf{
		position: absolute;
		bottom:20px;

	}
	
	#dawson{
		position: absolute;
		bottom: 20px;
		left:320px;
	}

	h3{
		position: relative;
		left:0px;
		width:301px;
	}
}
	