/*every page */


 #white{
	background-color: lightgrey;
	height: 109px;
	width: 100%;
 	 
 	 }

#bryant{ 
		float: left;
		font-family:Georgia;
		background-color: #4aaaa5;
		padding: 30px;
		text-align: center;
		font-size: 50px;
		margin-left: 60px;
		color: lightgrey;
		width:25%;
}
	
	.list{
		float: right;
		margin-right: 80px;
		margin-top:40px;
		
	}
	.links{ 
			font-size: 20px;
			padding: 10px;
			text-decoration: none;
			color:#4aaaa5;
			
		}
	li{
		display: inline;
		border-right: 1px solid black
	}
	li:last-child{
		border-right:none;
	}
	
body{ 
	background-image: url("../../assests/images/spirationdark.png");
	}

		.sec{
			background: lightgrey;
			float: left;
			margin-top: 20px;
			margin-left:60px;
			width:1000px;
			}
	

				h1{
					color:#4aaaa5;
					font-size: 50px; 
					width:50%;
					padding: 20px;
				}
				hr{ 
					background-color: lightgrey;
					height: 5px;
					width: 900px;			
				}


		aside{
			background-color: lightgrey;
			width: 360px;
			height: 220px;
			float: right;
			margin-top: 20px;
			margin-right: 60px;
			color: #4aaaa5;
		}
			
				h2{
					font-size: 20px;
					padding: 10px;
				}

				#hr2{
					background: lightgrey;
					height: 5px;
					width: 250px;


				}

				.contact{
					padding: 10px;
					height: 90px;
					width: 90px;
				}
				
				footer{ 
					float: left;
					margin-top: 10px;
					width: 100%;
					background-color:#666666;
					height: 50px;
					padding-top: 10px;
					text-align: center;
					color: #4aaaa5;
					border-top: 30px solid #4aaaa5;
				}
				

/*page 1 index */

			#me{
				max-width:30%;
				height: auto;
				float: left;
				margin-left: 20px;
				

			}

			#para{
				font-size: 20px;
				margin: 10px;
			
			}				


/* page 2 contact*/

			.words{
				color:#4aaaa5;
				margin-left:20px;
				}
			
			.form{
				width: 90%;
   				margin-left: 20px;
				}

			#message{
				width: 90%;
				margin-left: 20px;
				height: 265px;
			}

			button{
				margin-top:20px;
				margin-left: 450px;
				background-color: #4aaaa5;
    			color: white;
    			padding: 15px 32px;
    			font-size: 16px;
    			}


 /*Portfolio Page 3*/
			
				#dunes{

				float: left;
				margin-left: 50px;
				margin-bottom: 10px;
				min-width:400px;
				height:auto;
				}
			.dunes{
				position: absolute;
				top:450px;
				width:400px;
				height: 30px; 
				background-color: #4aaaa5;
				font-family: serif;
				font-size: 26px;
				border-bottom: 10px solid grey;
				border-top: 10px solid grey;
				}

			#miata{
				float: right;
				margin-top:40px;
				margin-right: 50px;
				max-width: 400px;
				height: auto;

			}
			.miata{
				position: absolute;
				top:450px;
				width: 400px;
				height:30px;
				background-color: #4aaaa5;
				font-family: serif;
				font-size: 26px;
				border-bottom: 10px solid grey;
				border-top: 10px solid grey;
				text-align: center;
			}
			#gf{
				float: right;
				margin-right: 50px;
				margin-top: 10px;
				max-width: 400px;
				height: auto;

			}
			.gf{
				position: absolute;
				bottom:10px;
				width:400px;
				height: 30px; 
				background-color: #4aaaa5;
				font-family: serif;
				font-size: 26px;
				border-bottom: 10px solid grey;
				border-top: 10px solid grey;
				text-align: center;
				
			}
			#dawson{
				float: left;
				margin-left: 100px;
				max-width: 300px;
				height:auto;
			
			}
			.dawson{
				position: absolute;
				bottom: 10px;
				width:300px;
				height: 30px;
				background-color: #4aaaa5;
				font-family: serif;
				font-size: 26px;
				border-bottom: 10px solid grey;
				border-top: 10px solid grey;
			}

/* 10/28 Media Queries */


/* page at 640px */
@media screen and (max-width:640px){
  	#white{
  		width:0px;
  	}
  	#bryant{
  		width:550px;
  		float: left;
		margin-left: 0px;
		text-align: center;

  	}
  	.list{
  		position: absolute;
  		top:80px;
  		left:85px;
  	}
  	.links{
  		background: grey;
  		padding-left:40px;
  		padding-right: 40px;
  	}
  	li{
  		display: inline;
  	}
  
  	.sec{
  		margin-top: 60px;
		width:80%;
		height: 100%;		
	}
		h1{
			right: 200px;
			}

		hr{
			width: 90%;
		}
	aside{
		
		width:80%;
	}
		h2{
			text-align: center;

		}

		#hr2{
			width: 90%
		}
	
	.contact{
		position: relative;
		left:20px;
		margin-right: 45px;
	}

	footer{
		position: relative;
		top:10px;
	}	

		
		
		
		/*bout pg */
		
		#me{
			max-width: 90%;
			height: auto;
			}
		
		#para{
			width:90%;
			text-align: center;
		}

		/* contact*/

		.words{
			left:0px;
			}
		.form{
			width:90%;
		}

		#message{
		width:90%;
		}

		button{
			margin-left: 175px;
		}		
		/* portfolio pg */
		
		#dunes{
			margin-left: 35px;
			text-align: center;
		}
		#dawson{
			margin-left: 90px;
			text-align: center;
		}
		.dunes{
			top:450px;
			

		}
		.miata{
			top: 740px;
		}
		.gf{
			top:1050px;
		}
		.dawson{
			top:1350px;
		}
		

}

@media screen and (max-width:768px) and (min-width:640px){
/* page at 768px*/
	#white{
		height: 100px;
	}
	#bryant{
		margin-left: 35px;
		width:45%;
		font-size: 40px;
	}
	.list{
		float: right;
		margin-right: 20px;
	}

	.sec{
		margin-left: 35px;
		width:90%;
	}
	aside{
		float: right;
		width:90%;
		margin-right:40px;
		}

	h1{
	
	}
	.contact{
		margin-left: 90px;
	}

	hr{
		width:90%;
	}
	h2{
		font-size: 20px;
		text-align: center;
	}
	#hr2{
		width: 90%;
	}

/*about pg*/

		
	#para{
		width:90%;
	}
	#me{
		max-width:30%;
		height: auto; 
		}
	
	/*contact page*/
	button{
		margin-left:265px;
	}
	/* portfolio*/

	#dunes{
		min-width:200px;
		height: auto;

	}
	.dunes{
		width:240px;
		top:320px;
	}
	#miata{
		margin-top: 0px;
		max-width: 300px;
		height: auto;
	}
	
	.miata{
		top: 320px;
		width:300px;
	}
	#gf{
		max-width: 300px;
	}
	.gf{
		top:550px;
		width:300px;
	}

	#dawson{
		padding-top:10px;
		margin-left:70px;
		max-width:200px;
	}
	.dawson{
		top:550px;
		width:200px;
		height: 50px;
	}
}

@media screen and (max-width: 980px;) and (769px;)